src/test/resources/munit/xml-doctype/resources/Note.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- XML Schema Generated from XML Document on Thu Sep 05 2019 11:21:01 GMT-0300 (Argentina Standard Time) -->
  <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
  <xs:element name="note">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="to" type="xs:string"></xs:element>
        <xs:element name="from" type="xs:string"></xs:element>
        <xs:element name="heading" type="xs:string"></xs:element>
        <xs:element name="body" type="xs:string"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>